SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SUBSONIC_BASE_URL=
SUBSONIC_PORT=4533
SUBSONIC_USERNAME=
SUBSONIC_PASSWORD=
SPOTIFY_REDIRECT_URI=http://localhost:8888/callback
PREVIEW_ONLY=true
WHITELISTED_PLAYLIST_IDS=